* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: "Roboto mono", monospace;
}
a {
    text-decoration: none;
    display: inline;
}
:root {
    --green: #47cfac;
    --color-light-green: #88d6c3;
    --color-white: whitesmoke;
    --color-grey: rgb(223, 221, 221);
}
/* Nav sect */
.top-bar {
    width: 100%;
    padding: 10px 30px;
    background-color: var(--green);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.icons-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.icons-container a {
    display: inline-block;
    width: 50px;
    height: 50%;
    margin: 10px 15px;
    color: var(--color-white);
}
nav {
    width: 100%;
    height: 80px;
    padding: 0 30px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.logo-sect {
    min-width: 150px;
    max-width: 300px
}
.logo-sect img {
    width: 100%;
}
.about-sect a{
    font-size: 1.8rem;
    border-bottom: 1px solid #000;
}
.about-sect a:visited {
    text-decoration: none;
}
/* News Container */
.news-container {
    padding: 20px 80px 40px;
    background-color: var(--color-grey);
    display: grid;
    grid-template: "top top"
                    "img title";
    grid-template-columns: [left]2fr [right]1fr;
    grid-template-rows: [top]1fr [down]9fr;
    gap: 10px 70px;
}
h3 {
    grid-area: top;
    font-size: 2rem;
}
.horizontal-container {
    width: 90%;
}
.news-img-container {
    grid-area: img;
    width: 100%;
    height: 100%;
}
.news-img-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.news-title {
    grid-area: title;
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
h2 {
    font-size: 2.4rem;
    margin: 20px 0;
}
.news-title p {
    font-size: 1.8rem;
}
.secondary-btn {
    margin: 20px 0;
    width: 120px;
    padding: 15px 10px;
    border: 1px solid var(--green);
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}
.secondary-btn:hover{
    cursor: pointer;
    border: 1px solid var(--color-white);
    background-color: var(--green);
    color: var(--color-white);

}
/* Blogs section */
.blogs-sect {
    width: 100%;
    padding: 0 50px;
}
.blogs-container {
    margin: 20px auto;
    width: 96%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.blogs-sect h3 {
    padding: 20px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #000;
}
.blogs-container article {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.blogs-container img {
    margin: 0 auto;
    width: 95%;
}
.blogs-container h5 {
    font-size: 1.8rem;
    font-weight: 300;
}
.blogs-container p {
    font-size: 1.6rem;
}
.blogs-container .secondary-btn {
    width: 100px;
    padding: 10px;
}