* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: "Roboto mono", monospace;
}
a {
    text-decoration: none;
    display: inline;
}
:root {
    --green: #47cfac;
    --light-green: #88d6c3;
    --white: rgb(245,245,245);
    --grey: rgb(223, 221, 221);
    --light-black: #22272c;
}
/* Nav sect */
.top-bar {
    width: 100%;
    padding: 10px 30px;
    background-color: var(--green);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.icons-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.icons-container a {
    display: inline-block;
    width: 50px;
    height: 50%;
    margin: 10px 15px;
    color: var(--white);
}
nav {
    width: 100%;
    height: 80px;
    padding: 0 30px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.logo-sect {
    min-width: 150px;
    max-width: 300px
}
.logo-sect img {
    width: 100%;
}
.about-sect a{
    font-size: 1.8rem;
    border-bottom: 1px solid var(--light-black);
}
.about-sect a:visited {
    text-decoration: none;
}
/* News Container */
.news-section {
    width: 100%;
    padding: 20px 80px 40px;
    background-color: var(--grey);
}
h3 {
    font-size: 2rem;
}
.news-container {
    margin: 20px 0;
    width: 98%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(98%, 350px), 1fr));
    gap: 20px 50px;
}
.news-img-container {
    width: 100%;
    height: 100%;
}
.news-img-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.news-title {
    width: 95%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
h2 {
    font-size: 2.4rem;
    margin: 20px 0;
}
.news-title p {
    font-size: 1.8rem;
}
.secondary-btn {
    margin: 20px 0;
    width: 120px;
    padding: 15px 10px;
    border: 1px solid var(--green);
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}
.secondary-btn:hover{
    cursor: pointer;
    border: 1px solid var(--white);
    background-color: var(--green);
    color: var(--white);

}
/* Blogs section */
.blogs-sect {
    width: 100%;
    padding: 0 50px;
}
.blogs-container {
    margin: 20px auto;
    width: 96%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(98%, 300px), 1fr));
    gap: 20px;
}
.blogs-sect h3 {
    padding: 20px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid var(--light-black);
}
.blogs-container article {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.blogs-container img {
    margin: 0 auto;
    width: 95%;
}
.blogs-container h5 {
    font-size: 1.8rem;
    font-weight: 300;
}
.blogs-container p {
    font-size: 1.6rem;
}
.blogs-container .secondary-btn {
    width: 100px;
    padding: 10px;
}
/* FOOTER */
footer {
    width: 100%;
    padding: 15px;
    background-color: var(--light-black);
    color: var(--white);
    border-top: 35px solid var(--green);
    font-size: 1.6rem;
    line-height: 1.8rem;
    text-align: center;
}