* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: "Flaticon", sans-serif;
}
a {
    text-decoration: none;
    display: inline;
}
:root {
    --green: #47cfac
}

.top-bar {
    width: 100%;
    padding: 10px 30px;
    background-color: var(--green);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.icons-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.icons-container a {
    display: inline-block;
    width: 50px;
    height: 50%;
    margin: 10px 15px;
    color: #ffffff;
}
nav {
    width: 100%;
    height: 80px;
    padding: 0 30px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.logo-sect {
    min-width: 150px;
    max-width: 300px
}
.logo-sect img {
    width: 100%;
}
.about-sect a{
    width: 40%;
    font-size: 1.8rem;
    border-bottom: 1px solid #000;
}
/* Hero section */
.hero {
    width: 100%;
    min-height: 500px;
    max-height: 600px;
    padding: 30px;
    color: #ffffff;
    background: url(../assets/img/Cover.png) center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    margin: 20px;
    font-size: 3.5rem;
    text-align: center;
    
}
button {
    padding: 8px;
    height: 35px;
    border-radius: 5px;
    background-color: var(--green);
    font-weight: bold;
}